In [2]:
import pandas as pd
import numpy as np

In [10]:
# data1 = pd.read_excel('./data/2012.xls')
# data2 = pd.read_excel('./data/2013.xls')
# data3 = pd.read_excel('./data/2014.xls')
# data4 = pd.read_excel('./data/2015.xls')
# data5 = pd.read_excel('./data/2016.xls')
# data6 = pd.read_excel('./data/2017.xls')
# data7 = pd.read_excel('./data/2018.xls')
# data8 = pd.read_excel('./data/2020.xlsx')
# data9 = pd.read_excel('./data/2021.xlsx')
# data10 = pd.read_excel('./data/2022.xlsx')
# data11 = pd.read_excel('./data/2023.xlsx')
# data12 = pd.read_excel('./data/2024.xlsx')

In [45]:
# # xlsx, xls 파일 csv로 변환
# data1.to_csv('./data/2012.csv')
# data2.to_csv('./data/2013.csv')
# data3.to_csv('./data/2014.csv')
# data4.to_csv('./data/2015.csv')
# data5.to_csv('./data/2016.csv')
# data6.to_csv('./data/2017.csv')
# data7.to_csv('./data/2018.csv')
# data8.to_csv('./data/2020.csv')
# data9.to_csv('./data/2021.csv')
# data10.to_csv('./data/2022.csv')
# data11.to_csv('./data/2023.csv')
# data12.to_csv('./data/2024.csv')

In [17]:
data1 = pd.read_csv('./data/2012.csv')
data2 = pd.read_csv('./data/2013.csv', low_memory=False)
data3 = pd.read_csv('./data/2014.csv')
data4 = pd.read_csv('./data/2015.csv')
data5 = pd.read_csv('./data/2016.csv')
data6 = pd.read_csv('./data/2017.csv')
data7 = pd.read_csv('./data/2018.csv')
data8 = pd.read_csv('./data/2020.csv')
data9 = pd.read_csv('./data/2021.csv')
data10 = pd.read_csv('./data/2022.csv')
data11 = pd.read_csv('./data/2023.csv')
data12 = pd.read_csv('./data/2024.csv')

### 2012년 데이터

In [44]:
data1.columns

Index(['Unnamed: 0', '2012학년도 대학 입학전형 수시모집 결과분석 자료', 'Unnamed: 1',
       'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17'],
      dtype='object')

In [21]:
data1 = data1[data1['2012학년도 대학 입학전형 수시모집 결과분석 자료'] == '광주']
res_data1 = data1[['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4','Unnamed: 10', 'Unnamed: 11']]
res_data1 = res_data1.rename(columns = {
    'Unnamed: 2' : '전형구분명',
    'Unnamed: 3' : '대학명',
    'Unnamed: 4' : '학과명',
    'Unnamed: 10' : '평균',
    'Unnamed: 11' : '표준편차'
})
res_data1

        전형구분명   대학명       학과명                평균               표준편차
4    학생부성적우수자  간호대학      간호학과  1.90925361606749  0.236746134180467
5    학생부성적우수자  경영대학      경영학부  2.42902681570907  0.362292604607323
6    학생부성적우수자  경영대학      경제학부  2.90504260919313  0.325149140768617
7    학생부성적우수자  경영대학   지역개발학전공   3.1735398184238   0.20797046596804
8    학생부성적우수자  공과대학      건축학부  2.95960188056569  0.619877199564958
..        ...   ...       ...               ...                ...
295    농·어촌학생  자연대학      물리학과  4.17918930506332  0.625283955691307
296    농·어촌학생  자연대학   지구환경과학부  3.63379053211131  0.823169773328138
297    농·어촌학생  자연대학      생물학과  4.78693967902601  0.479247371333702
298    농·어촌학생  자연대학       화학과  2.96381480371591  0.240410548396762
299    농·어촌학생  자연대학  생명과학기술학부  3.01032317528049  0.409546126868473

[245 rows x 5 columns]

### 2013년 데이터

In [22]:
data2.columns

Index(['Unnamed: 0', '2013학년도 대학 입학전형 수시모집 결과분석 자료', 'Unnamed: 1',
       'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17'],
      dtype='object')

In [35]:
data2

,Unnamed: 0,2013학년도 대학 입학전형 수시모집 결과분석 자료,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
3,3,광주캠퍼스,수시모집,학생부성적우수자,간호대학,간호학과,44,233,42,5.295454,16,2.25335461883977,0.440001168041013,589.4122,3.81943334713562,362.7405184657,13.8957091349181,952.152716,13.7540557607403
4,4,광주캠퍼스,수시모집,학생부성적우수자,경영대학,경영학부,140,540,133,3.857142,42,2.61943627669695,0.520284479221061,586.265373,4.5046588219275,356.9273905057,11.554560833886,943.192752,12.1618824927815
5,5,광주캠퍼스,수시모집,학생부성적우수자,경영대학,경제학부,52,339,52,6.51923,9,2.76339617116511,0.21337530069043,584.858442,1.68746885364381,364.4395067741,11.0606425697707,949.297983,11.3731768929588
6,6,광주캠퍼스,수시모집,학생부성적우수자,경영대학,지역개발학전공,9,73,9,8.111111,0,3.05963466318086,0.179494192811648,582.290444,0.881802208972295,370.2222222221,7.46349138840233,952.512666,7.32702656075863
7,7,광주캠퍼스,수시모집,학생부성적우수자,공과대학,건축학전공,11,64,5,5.818181,0,3.04442395854722,0.440290335003202,581.896428,3.91277639305151,346.476190476,14.6307538054451,928.372428,15.7109313160074
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325,325,광주캠퍼스,수시모집,농·어촌학생,자연대학,물리학과,3,7,3,2.333333,0,4.67809120267019,0.294222761336419,567.364666,3.99788496861316,0,0,0,0
326,326,광주캠퍼스,수시모집,농·어촌학생,자연대학,지구환경과학부,4,11,4,2.75,1,4.29839581568019,0.885432893981397,570.1316,8.2147746067764,0,0,0,0
327,327,광주캠퍼스,수시모집,농·어촌학생,자연대학,생물학과,1,12,1,12,0,4.59090909090909,0,571.138,0,0,0,0,0
328,328,광주캠퍼스,수시모집,농·어촌학생,자연대학,화학과,2,6,2,3,0,2.57449359661207,0.0708964743099134,585.1265,0.0334999998334184,0,0,0,0
329,329,광주캠퍼스,수시모집,농·어촌학생,자연대학,생명과학기술학부,5,18,2,3.6,0,3.03479337908079,0.622685295820591,581.581,5.56125399528463,0,0,0,0

In [37]:
# 사용한 컬럼만 필터링 후 저장
data2 = data2[data2['2013학년도 대학 입학전형 수시모집 결과분석 자료'] == '광주캠퍼스']
res_data2 = data2[['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 8','Unnamed: 10', 'Unnamed: 11']]
res_data2 = res_data2.rename(columns = {
    'Unnamed: 2' : '전형구분명',
    'Unnamed: 3' : '대학명',
    'Unnamed: 4' : '학과명',
    'Unnamed: 5' : '모집인원',
    'Unnamed: 6' : '지원인원',
    'Unnamed: 8' : '경쟁률',
    'Unnamed: 10' : '평균',
    'Unnamed: 11' : '표준편차'
})
res_data2['연도'] = 2013
res_data2

,전형구분명,대학명,학과명,모집인원,지원인원,경쟁률,평균,표준편차,연도
3,학생부성적우수자,간호대학,간호학과,44,233,5.295454,2.25335461883977,0.440001168041013,2013
4,학생부성적우수자,경영대학,경영학부,140,540,3.857142,2.61943627669695,0.520284479221061,2013
5,학생부성적우수자,경영대학,경제학부,52,339,6.51923,2.76339617116511,0.21337530069043,2013
6,학생부성적우수자,경영대학,지역개발학전공,9,73,8.111111,3.05963466318086,0.179494192811648,2013
7,학생부성적우수자,공과대학,건축학전공,11,64,5.818181,3.04442395854722,0.440290335003202,2013
...,...,...,...,...,...,...,...,...,...
325,농·어촌학생,자연대학,물리학과,3,7,2.333333,4.67809120267019,0.294222761336419,2013
326,농·어촌학생,자연대학,지구환경과학부,4,11,2.75,4.29839581568019,0.885432893981397,2013
327,농·어촌학생,자연대학,생물학과,1,12,12,4.59090909090909,0,2013
328,농·어촌학생,자연대학,화학과,2,6,3,2.57449359661207,0.0708964743099134,2013
329,농·어촌학생,자연대학,생명과학기술학부,5,18,3.6,3.03479337908079,0.622685295820591,2013

In [38]:
# 결측치 확인
res_data2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 269 entries, 3 to 329
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   전형구분명   269 non-null    object
 1   대학명     269 non-null    object
 2   학과명     269 non-null    object
 3   모집인원    269 non-null    object
 4   지원인원    269 non-null    object
 5   경쟁률     269 non-null    object
 6   평균      243 non-null    object
 7   표준편차    243 non-null    object
 8   연도      269 non-null    int64
dtypes: int64(1), object(8)
memory usage: 21.0+ KB

In [40]:
# 결측치 있는 행 제거
res_data2 = res_data2.dropna(axis=0)

,전형구분명,대학명,학과명,모집인원,지원인원,경쟁률,평균,표준편차,연도
3,학생부성적우수자,간호대학,간호학과,44,233,5.295454,2.25335461883977,0.440001168041013,2013
4,학생부성적우수자,경영대학,경영학부,140,540,3.857142,2.61943627669695,0.520284479221061,2013
5,학생부성적우수자,경영대학,경제학부,52,339,6.51923,2.76339617116511,0.21337530069043,2013
6,학생부성적우수자,경영대학,지역개발학전공,9,73,8.111111,3.05963466318086,0.179494192811648,2013
7,학생부성적우수자,공과대학,건축학전공,11,64,5.818181,3.04442395854722,0.440290335003202,2013
...,...,...,...,...,...,...,...,...,...
325,농·어촌학생,자연대학,물리학과,3,7,2.333333,4.67809120267019,0.294222761336419,2013
326,농·어촌학생,자연대학,지구환경과학부,4,11,2.75,4.29839581568019,0.885432893981397,2013
327,농·어촌학생,자연대학,생물학과,1,12,12,4.59090909090909,0,2013
328,농·어촌학생,자연대학,화학과,2,6,3,2.57449359661207,0.0708964743099134,2013
329,농·어촌학생,자연대학,생명과학기술학부,5,18,3.6,3.03479337908079,0.622685295820591,2013

In [42]:
# 모집인원, 지원인원은 정수형으로 변환
res_data2['모집인원'] = pd.to_numeric(res_data2['모집인원'], errors='coerce').astype('Int64')
res_data2['지원인원'] = pd.to_numeric(res_data2['지원인원'], errors='coerce').astype('Int64')

# 경쟁률, 평균, 표준편차는 부동소수점형으로 변환
res_data2['경쟁률'] = pd.to_numeric(res_data2['경쟁률'], errors='coerce')
res_data2['평균'] = pd.to_numeric(res_data2['평균'], errors='coerce')
res_data2['표준편차'] = pd.to_numeric(res_data2['표준편차'], errors='coerce')

res_data2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 269 entries, 3 to 329
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   전형구분명   269 non-null    object
 1   대학명     269 non-null    object
 2   학과명     269 non-null    object
 3   모집인원    269 non-null    Int64
 4   지원인원    269 non-null    Int64
 5   경쟁률     269 non-null    float64
 6   평균      243 non-null    float64
 7   표준편차    243 non-null    float64
 8   연도      269 non-null    int64
dtypes: Int64(2), float64(3), int64(1), object(3)
memory usage: 21.5+ KB

In [43]:
res_data2

        전형구분명   대학명       학과명  모집인원  지원인원        경쟁률        평균      표준편차    연도
3    학생부성적우수자  간호대학      간호학과    44   233   5.295454  2.253355  0.440001  2013
4    학생부성적우수자  경영대학      경영학부   140   540   3.857142  2.619436  0.520284  2013
5    학생부성적우수자  경영대학      경제학부    52   339   6.519230  2.763396  0.213375  2013
6    학생부성적우수자  경영대학   지역개발학전공     9    73   8.111111  3.059635  0.179494  2013
7    학생부성적우수자  공과대학     건축학전공    11    64   5.818181  3.044424  0.440290  2013
..        ...   ...       ...   ...   ...        ...       ...       ...   ...
325    농·어촌학생  자연대학      물리학과     3     7   2.333333  4.678091  0.294223  2013
326    농·어촌학생  자연대학   지구환경과학부     4    11   2.750000  4.298396  0.885433  2013
327    농·어촌학생  자연대학      생물학과     1    12  12.000000  4.590909  0.000000  2013
328    농·어촌학생  자연대학       화학과     2     6   3.000000  2.574494  0.070896  2013
329    농·어촌학생  자연대학  생명과학기술학부     5    18   3.600000  3.034793  0.622685  2013

[269 rows x 9 columns]

### 2014년 데이터

In [31]:
data3.columns

Index(['Unnamed: 0', '2014학년도 대학 입학전형 수시모집 결과분석 자료', 'Unnamed: 1',
       'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16'],
      dtype='object')

In [33]:
data3 = data3[data3['2014학년도 대학 입학전형 수시모집 결과분석 자료'] == '광주캠퍼스']
res_data3 = data3[['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4','Unnamed: 9', 'Unnamed: 10']]

,Unnamed: 0,2014학년도 대학 입학전형 수시모집 결과분석 자료,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
3,3,광주캠퍼스,학생부성적우수자,간호대학,간호학과,43,295,42,6.860465,15,1.9979978482603,0.247549108483868,591.434362,2.08766558863251,350.1522432951,24.089805009571,941.58662,24.5436335482981
4,4,광주캠퍼스,학생부성적우수자,경영대학,경영학부,140,533,132,3.807142,38,2.56185863266475,0.426137392167065,586.640544,3.63989957740544,354.9863249961,16.0307459913257,941.62687,16.5028388078958
5,5,광주캠퍼스,학생부성적우수자,경영대학,경제학부,53,195,51,3.679245,9,2.94498553585978,0.512857416174511,583.218193,4.59928200864188,355.5997769998,13.5175890911173,938.817935,14.1112680357471
6,6,광주캠퍼스,학생부성적우수자,경영대학,지역개발학전공,8,41,8,5.125,2,3.03299221208259,0.136394521681075,582.2693,1.09843307029342,354.1333333332,17.7007218936168,936.4025,17.7026681054052
7,7,광주캠퍼스,학생부성적우수자,공과대학,건축·도시설계전공,11,55,7,5,0,2.81383040879556,0.435857819928087,583.773181,4.27296056230362,349.3333333332,24.5064411240271,933.106545,26.4126428520457
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297,297,광주캠퍼스,농·어촌학생,자연대학,물리학과,3,10,1,3.333333,0,3.91494762460552,0.499979578064867,574.155,2.61420325657348,0,0,0,0
298,298,광주캠퍼스,농·어촌학생,자연대학,지구환경과학부,4,16,4,4,0,4.20632478130422,0.445972985246909,572.2745,3.32935357840287,0,0,0,0
299,299,광주캠퍼스,농·어촌학생,자연대학,생물학과,1,10,1,10,0,3.7734375,0,575.361,0,0,0,0,0
300,300,광주캠퍼스,농·어촌학생,자연대학,화학과,2,6,2,3,1,2.50026126862959,0.790698809676613,586.552666,7.0944455894906,0,0,0,0
301,301,광주캠퍼스,농·어촌학생,자연대학,생명과학기술학부,5,14,5,2.8,1,3.3712634395586,0.654977830414116,578.6555,5.85648952729779,0,0,0,0

In [34]:
data3

,Unnamed: 0,2014학년도 대학 입학전형 수시모집 결과분석 자료,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,0,캠퍼스\n구 분,전형구분명\n(수시모집),대학명,모집단위명,모집\n인원,지원\n인원,최종\n등록\n인원,경쟁률,추가\n합격자\n최종\n예비순위,학생부,NaN,NaN,NaN,면접,NaN,총점,NaN
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,등급기준(이수단위반영),NaN,600점기준\n(리더십 전형은 300점 기준),NaN,400점기준,NaN,1000점기준,NaN
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,평균,표준편차,평균,표준편차,평균,표준편차,평균,표준편차
3,3,광주캠퍼스,학생부성적우수자,간호대학,간호학과,43,295,42,6.860465,15,1.9979978482603,0.247549108483868,591.434362,2.08766558863251,350.1522432951,24.089805009571,941.58662,24.5436335482981
4,4,광주캠퍼스,학생부성적우수자,경영대학,경영학부,140,533,132,3.807142,38,2.56185863266475,0.426137392167065,586.640544,3.63989957740544,354.9863249961,16.0307459913257,941.62687,16.5028388078958
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310,310,여수캠퍼스,농·어촌학생,문화사회대학,국제학부(일본학전공),1,1,1,1,0,6.95454545454545,0,533.026,0,0,0,0,0
311,311,여수캠퍼스,농·어촌학생,문화사회대학,경상학부,1,5,1,5,0,4.76153846153846,0,565.185,0,0,0,0,0
312,312,여수캠퍼스,농·어촌학생,문화사회대학,문화콘텐츠학부,5,9,4,1.8,0,5.28525166317867,0.316891629095296,561.52,4.68191964902373,0,0,0,0
313,313,여수캠퍼스,농·어촌학생,수산해양대학,해양기술학부,9,22,8,2.444444,0,5.26051443907116,0.324273393591003,561.00375,4.17649732881178,0,0,0,0
314,314,여수캠퍼스,농·어촌학생,수산해양대학,해양경찰학과,1,6,1,6,0,4.08333333333333,0,571.863,0,0,0,0,0